<!DOCTYPE html>
<html lang ="ja" >
    <head>
        <meta charset = "UTF-8" >
        <title>Hackathon</title>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <style>
            /*ヘッダー、フッター用*/
            @import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300);
            body {
                font-family: 'Source Sans Pro', sans-serif;
            }
           .main{
                margin-top: 100px;
                margin-bottom: 80px;
                width: 100%;
                
            }
            .header {
                overflow: auto;
                background-color:#ffd700;
                color: white;
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                text-align: center;
                z-index:1;
            }	
            .header-logo {
                display: block;
                text-align: center;
                font-size: 70px;
                margin: 0 auto;
                padding: 10px 16px;
            }
            .header-list ul{
                list-style-type: none;
                text-align: center;
                margin: 0;
                padding: 0;
            }

            .header-list li {
                display: inline-block;
            }
            .header-list li a {
                display: block;
                position: relative;
                color: white;
                text-decoration: none;
                width: 20%;
                padding: 10px 30px;
                font-size: 70px;
            }
            .footer {
                width: 100%;
                overflow: auto;
                position: fixed;
                background-color: #ffd700;
                bottom: 0;
                left: 0;
            }
            .footer a, #event {
                float: left;
                text-align: center;
                width: 25%;
                padding: 10px 0;
                color: white;
                font-size: 70px;
            }
            /*ヘッダー、フッター用おわり*/
            
            
           
        </style>
    </head>
    <body>
        <div class="header">
                
                <div class="header-list">
                    <ul>
                        <li style="float: left;"><a href="/signout"><i class="fa fa-sign-out" aria-hidden="true"></i></a></li>
                        <li class="header-logo">EATOMO</li>
                        <li style="float: right;"><a href="/home"><i class="fa fa-user-circle-o" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="main">
        <% if @likes.present? %>
            <% if @likes != "" %>
                <% @likes.each do |like| %>
                    <div class="contribution">
                    <p class="name"><a href="<%= Contribution.find_by(id: like.contribution_id).rest_url %>"><%= Contribution.find_by(id: like.contribution_id).rest_name %></a></p>
                    <img src="<%= Contribution.find_by(id: like.contribution_id).rest_img %>">
                    <p class="memo">メモ:<%= Contribution.find_by(id: like.contribution_id).memo %></p>
                    <a href = "/user/<%= like.user_id %>" ><img src="<%= User.find_by(id: like.user_id).user_img %>" width="100px" height="100px">
                    <p class="user"><%= User.find_by(id: like.user_id).name %> </p></a>
                    </div>
                <% end %>
                <p><a href="/home">HOME</a></p>
            <% else %>
                <p>ログはありません</p>
                <p><a href="/home">HOME</a></p>
            <% end %>
        <% elsif @users.present? %>
            <% @users.each do |user| %>
                <a href = "/user/<%= user.user_id %>" ><img src="<%= User.find_by(id: user.user_id).user_img %>" width="100px" height="100px">
                <p class="user"><%= User.find_by(id: user.user_id).name %> </p></a>
            <% end %>
        <% else %>
            <% @friends.each do |friend| %>
                <a href = "/user/<%= friend.friend_user_id %>" ><img src="<%= User.find_by(id: friend.friend_user_id).user_img %>" width="100px" height="100px">
                <p class="user"><%= User.find_by(id: friend.friend_user_id).name %> </p></a>
            <% end %>
        <% end %>
        </div>
        
       <div class="footer">
              <a href="/search"><i class="fa fa-search" aria-hidden="true"></i></a>
              <a href="/general"><i class="fa fa-clock-o" aria-hidden="true"></i></a>
              <a href="/new"><i class="fa fa-cutlery" aria-hidden="true"></i></a>
              <i id="event" class="fa fa-exclamation-circle" aria-hidden="true"></i>
        
    </div>
    </body>
</html>
